* {
    font-family: 'Showcard Gothic', cursive !important;
}

body {
    background: linear-gradient(90deg, rgb(36, 0, 13) 0%, rgb(219, 4, 62) 35%, rgb(0, 34, 255) 100%);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.todo-card {
    min-width: 50vw !important;
    max-width: 70vw !important;
    min-height: 60vh !important;
    border-radius: 20px !important;
    padding: 25px;
}

.link-btn {
    padding: 5px 20px !important;
    background: transparent !important;
    border: 2px solid white !important;
    outline: none !important;
    transition: .2s;
}

.add-todo-btn {
    padding: 10px 30px !important;
    background: transparent !important;
    border: 2px solid white !important;
    outline: none !important;
    transition: .2s;
}

.add-todo-btn:hover, .link-btn:hover {
    color: black !important;
    background: white !important;
}

.todo-item {
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
}

.todo-item p {
    max-width: 90%;
    font-weight: 300 !important;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (max-width: 750px) {
    .sign-up-card {
        width: 20rem;
        padding: 10px;
        font-size: 14px;
    }
}