* {
    font-family: 'Showcard Gothic', cursive !important;
}

body {
    background: linear-gradient(90deg, rgb(36, 0, 13) 0%, rgb(219, 4, 62) 35%, rgb(0, 34, 255) 100%);
}

p {
    color: white;
}

img {
    width: 500px;
    height: 500px;
    transform: rotate(10deg);
    margin-right: 300px;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.about-me-card {
    white-space: nowrap;
    border-radius: 20px !important;
    padding: 25px;
    min-width: 25rem !important;
}

.wrapper .btn {
    width: 120px;
    box-sizing: border-box;
    background: transparent !important;
    border: 2px solid transparent;
    outline: none !important;
    padding: 10px 20px;
    font-size: 20px !important;
    transition: .2s;
    color: black;
    margin-left: 135px;
}

.wrapper .btn:hover {
    border-color: black;
    background: transparent;
}

@media (max-width: 750px) {
    .about-me-card {
        min-width: 20rem !important;
        max-width: 30rem !important;
        padding: 5px;
        font-size: 14px;
        white-space: normal;
    }
}