* {
    font-family: 'Showcard Gothic', cursive !important;
}

body {
    background: linear-gradient(90deg, rgb(36, 0, 13) 0%, rgb(219, 4, 62) 35%, rgb(0, 34, 255) 100%);
    overflow-y: scroll;
}
.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logo {
    float: left;
    margin: 0 auto;
    background: url("../assets/logo.png");
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    transform: rotate(10deg);

}

.about-app-card {
    border-radius: 20px !important;
    padding: 25px;
    width: 50% !important;
    animation-name: card;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

.wrapper .btn {
    width: 120px;
    box-sizing: border-box;
    background: transparent !important;
    border: 2px solid transparent;
    outline: none !important;
    padding: 10px 20px;
    font-size: 20px !important;
    transition: .2s;
    color: black;
}
.wrapper .btn:hover {
    border-color: black;
    background: transparent;
}
@keyframes card {
    0% {
        transform: translateY(300%);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 830px) {
    .about-app-card {
        min-width: 20rem !important;
        max-width: 50rem !important;
        width: 100% !important;
        font-size: 14px;
        white-space: normal;
    }
}